{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "@typescript-eslint/no-var-requires": 0,
      "semi": [
        "error",
        "always"
      ],
      "quotes": [
          "error",
          "single",
          {"avoidEscape": true}
      ],
      "max-len": [
          "warn",
          {"code": 160, "ignoreComments": true}
      ],
      "space-before-function-paren": [
          "error",
          "always"
      ]
  }
  }